#home {
	background: #ffc107;
	color: white;
}
.caixa{
	padding: 60px;
	border-bottom:1px solid #d8d8d8;
}
footer{
	padding: 30px;
	background: #ffc107;
}


footer p a{
	margin: 5px 15px !important;
}
#caixa-esq{
	-webkit-animation: esquera-para-direita;
	        animation: esquera-para-direita;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}
#caixa-dir{
	-webkit-animation-name: direita-para-esquerda;
	        animation-name: direita-para-esquerda;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}

@-webkit-keyframes esquera-para-direita{
	from{
		-webkit-transform: translateX(-15%);
		        transform: translateX(-15%);
	}
	to{
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@keyframes esquera-para-direita{
	from{
		-webkit-transform: translateX(-15%);
		        transform: translateX(-15%);
	}
	to{
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@-webkit-keyframes direita-para-esquerda{
	from{
		-webkit-transform: translateX(10%);
		        transform: translateX(10%);
	}
	to{
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@keyframes direita-para-esquerda{
	from{
		-webkit-transform: translateX(10%);
		        transform: translateX(10%);
	}
	to{
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
